/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode


/public/inlap-front/dist
/public/inlap-front/tmp
/public/inlap-front/out-tsc
/public/inlap-front/bazel-out

/public/inlap-front/node_modules
/public/inlap-front/npm-debug.log
/public/inlap-front/yarn-error.log

/public/inlap-front/.idea/
/public/inlap-front/.project
/public/inlap-front/.classpath
/public/inlap-front/.c9/
/public/inlap-front/*.launch
/public/inlap-front/.settings/
/public/inlap-front/*.sublime-workspace

/public/inlap-front/.vscode/*
/public/inlap-front/!.vscode/settings.json
/public/inlap-front/!.vscode/tasks.json
/public/inlap-front/!.vscode/launch.json
/public/inlap-front/!.vscode/extensions.json
/public/inlap-front/.history/*

/public/inlap-front/.angular/cache
/public/inlap-front/.sass-cache/
/public/inlap-front/connect.lock
/public/inlap-front/coverage
/public/inlap-front/libpeerconnection.log
/public/inlap-front/testem.log
/public/inlap-front/typings

/public/inlap-front/.DS_Store
/public/inlap-front/Thumbs.db
