<div class="min-h-[85vh]">
  <div class="flex justify-center aling-center items-center">
    <div class="w-[30rem] shadow-lg m-4 p-4 border border-gray-300 rounded-md">
      <form class="mx-auto" [formGroup]="formLogin" (ngSubmit)="iniciarSesion(); submitted = true;">
        <div class="text-center font-bold text-blue-600 text-xl uppercase mb-2">
          Ingresar
        </div>
        <!-- <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Nombre:</label>
          <input
            class="shadow appearance-none hover:border-blue-600 focus:border-blue-600 border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="name" type="text" placeholder="Ingrese su nombre">
        </div> -->

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mt-2" for="email">Correo electrónico:</label>
          <input formControlName="email" [ngClass]="clasesInputErroneo('email')"
            class="shadow appearance-none hover:border-blue-600 focus:border-blue-600 border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="email" type="email" placeholder="Ingrese su correo electrónico">
          <div
            *ngIf="submitted && formLogin.get('email')?.invalid || (formLogin.get('email')?.dirty || formLogin.get('email')?.touched)">
            <div class="font-bold text-red-500 text-xs" *ngIf="formLogin.get('email')?.errors?.['required']">El
              Correo Electrónico es Requerido.</div>
            <div class="font-bold text-red-500 text-xs" *ngIf="formLogin.get('email')?.errors?.['pattern']">
              Correo Electrónico Invalido.</div>
          </div>
        </div>


        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mt-2" for="email">Contraseña:</label>
          <input formControlName="password" [ngClass]="clasesInputErroneo('password')"
            class="shadow appearance-none hover:border-blue-600 focus:border-blue-600 border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="password" type="password" placeholder="Ingrese su Contraseña">
          <!-- Errores de Validacion del Input Contraseña -->
          <div
            *ngIf="submitted && formLogin.get('password')?.invalid || (formLogin.get('password')?.dirty || formLogin.get('password')?.touched)">
            <div class="font-bold text-red-500 mx-2 text-xs" *ngIf="formLogin.get('password')?.errors?.['required']">La
              Contraseña es Requerida.</div>
          </div>
        </div>

           <!-- Errores Generales Por Informacion de Autenticacion Erronea -->
      <div *ngIf="submitted" class="grid grid-cols-1 gap-2">
        <div class="font-bold text-red-500 mx-2 text-sm p-1 m-1 mb-4 text-center" *ngIf="correoInvalido">
          Correo Electrónico Incorrecto.</div>
        <div class="font-bold text-red-500 mx-2 text-sm p-1 m-1 mb-4 text-center" *ngIf="contrasenaInvalida">
          Contraseña Incorrecta.</div>
      </div>


        <div class="flex items-center justify-center aling-center w-full">
          <button *ngIf="!loadingLogin" type="submit"
          class=" px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white font-bold font-semibold rounded-lg shadow-md focus:shadow-outline">
          Iniciar Sesión
        </button>
        <!-- Boton de Carga de Formulario | Loading Login -->
        <div *ngIf="loadingLogin" class="flex">
          <button type="button"
            class=" inline-flex justify-center items-center px-4 py-2 font-semibold leading-6 shadow-md focus:shadow-outline rounded-md text-white bg-blue-500 hover:bg-blue-700 transition ease-in-out duration-150 cursor-not-allowed font-bold">
            <div class="flex font-bold">
              <svg class="animate-spin h-5 w-5 mr-3" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                </path>
              </svg>
              Cargando...
            </div>
          </button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
